.Hero {
  display: flex;
  padding: 0 15rem;
  justify-items: space-around;
  height: 80vh;
  color: #fff;
}

.hero-text {
  text-align: left;
  width: 100%;
  margin: 10% 0;
}

.hero-body-text {
  font-size: 1.5rem;
  line-height: 2rem;
  padding-bottom: 2rem;
}

.hero-image {
  width: 100%;
}

.hero-image-main {
  width: 45rem;
}

@media only screen and (max-width: 600px) {
  .Hero {
    flex-direction: column;
    padding: 0 2rem;
    height: 100vh;
  }
  .hero-image-main {
    width: 22rem;
  }
  .hero-text {
    text-align: left;
    width: 100%;
    margin: 5rem 0;
  }

  .hero-text h1 {
    font-size: 3.5rem;
  }

  .hero-text h3 {
    font-size: 2rem;
    padding-bottom: 2rem;
  }

  .hero-body-text {
    font-size: 1rem;
    line-height: 1.5rem;
    padding-bottom: 2rem;
  }
}
