.App {
  text-align: center;
  font-family: serif;
}

h1 {
  font-size: 6rem;
  margin: 0;
}

h3 {
  font-size: 3rem;
  margin: 0;
}

button {
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: #f4ce14 solid 1px;
  background-color: #f4ce14;
  font-weight: bold;
  font-size: 1rem;
}

button:hover {
  background-color: white;
  color: #495e47;
  border: #495e47 solid 2px;
}
